**/target/
**/build/
**/bin/
**/python-env/
.classpath
.project
.settings
.DS_Store
*.iml
*.ipr
*.iws
*.log
.springBeans
.pydevproject
*~
*_trace
.cache-main
.cache-tests
.idea
.factorypath
.gradle
*.releaseBackup
release.properties
.attach_pid*

application-home.properties
